<a href="https://colab.research.google.com/github/GirishaThummar/Project/blob/main/EV_sales_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
reviews = pd.read_csv("/content/drive/MyDrive/EV_dataset/EV_Dataset.csv",index_col=0)
reviews
reviews.shape

(96845, 7)

In [ ]:
reviews.to_csv("EV_Dataset.csv")

In [ ]:
#reviews.head()
#wine_reviews.head(10)
#reviews.head(-10)
reviews.tail(-100)

,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type,EV_Sales_Quantity
Year,,,,,,,
2014.0,jan,1/1/2014,Chhattisgarh,HARVESTER,Others,Others,0.0
2014.0,jan,1/1/2014,Chhattisgarh,MAXI CAB,Others,Others,0.0
2014.0,jan,1/1/2014,Chhattisgarh,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,10.0
2014.0,jan,1/1/2014,Chhattisgarh,MOBILE WORKSHOP,Others,Others,0.0
2014.0,jan,1/1/2014,Chhattisgarh,MOPED,2-Wheelers,2W_Personal,0.0
...,...,...,...,...,...,...,...
2023.0,dec,12/1/2023,Andaman & Nicobar Island,MOTOR CAR,4-Wheelers,4W_Personal,1.0
2023.0,dec,12/1/2023,Andaman & Nicobar Island,MOTOR CYCLE/SCOOTER-USED FOR HIRE,2-Wheelers,2W_Shared,5.0
2023.0,dec,12/1/2023,Andaman & Nicobar Island,OMNI BUS,Bus,Bus,0.0
2023.0,dec,12/1/2023,Andaman & Nicobar Island,THREE WHEELER (GOODS),3-Wheelers,3W_Goods,0.0
2023.0,dec,12/1/2023,Andaman & Nicobar Island,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0

# Indexing, Selecting & Assigning

In [ ]:
reviews.head()

,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type,EV_Sales_Quantity
Year,,,,,,,
2014.0,jan,1/1/2014,Andhra Pradesh,ADAPTED VEHICLE,Others,Others,0.0
2014.0,jan,1/1/2014,Andhra Pradesh,AGRICULTURAL TRACTOR,Others,Others,0.0
2014.0,jan,1/1/2014,Andhra Pradesh,AMBULANCE,Others,Others,0.0
2014.0,jan,1/1/2014,Andhra Pradesh,ARTICULATED VEHICLE,Others,Others,0.0
2014.0,jan,1/1/2014,Andhra Pradesh,BUS,Bus,Bus,0.0

In [ ]:
reviews=reviews.copy(deep=True)

In [ ]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96845 entries, 2014.0 to 2023.0
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Month_Name         96845 non-null  object
 1   Date               96845 non-null  object
 2   State              96845 non-null  object
 3   Vehicle_Class      96845 non-null  object
 4   Vehicle_Category   96845 non-null  object
 5   Vehicle_Type       96845 non-null  object
 6   EV_Sales_Quantity  96845 non-null  float64
dtypes: float64(1), object(6)
memory usage: 5.9+ MB

In [ ]:
print(reviews.columns)
print(reviews.EV_Sales_Quantity.dtype)
print(reviews.dtypes)

Index(['Month_Name', 'Date', 'State', 'Vehicle_Class', 'Vehicle_Category',
       'Vehicle_Type', 'EV_Sales_Quantity'],
      dtype='object')
float64
Month_Name            object
Date                  object
State                 object
Vehicle_Class         object
Vehicle_Category      object
Vehicle_Type          object
EV_Sales_Quantity    float64
dtype: object

In [ ]:
reviews['State']
reviews.State

Year
2014.0              Andhra Pradesh
2014.0              Andhra Pradesh
2014.0              Andhra Pradesh
2014.0              Andhra Pradesh
2014.0              Andhra Pradesh
                    ...
2023.0    Andaman & Nicobar Island
2023.0    Andaman & Nicobar Island
2023.0    Andaman & Nicobar Island
2023.0    Andaman & Nicobar Island
2023.0    Andaman & Nicobar Island
Name: State, Length: 96845, dtype: object

In [ ]:
reviews['EV_Sales_Quantity']

Year
2014.0    0.0
2014.0    0.0
2014.0    0.0
2014.0    0.0
2014.0    0.0
         ...
2023.0    1.0
2023.0    5.0
2023.0    0.0
2023.0    0.0
2023.0    0.0
Name: EV_Sales_Quantity, Length: 96845, dtype: float64

In [ ]:

reviews['EV_Sales_Quantity'][:]

Year
2014.0    0.0
2014.0    0.0
2014.0    0.0
2014.0    0.0
2014.0    0.0
         ...
2023.0    1.0
2023.0    5.0
2023.0    0.0
2023.0    0.0
2023.0    0.0
Name: EV_Sales_Quantity, Length: 96845, dtype: float64

In [ ]:
reviews.iloc[:, 0]

Year
2014.0    jan
2014.0    jan
2014.0    jan
2014.0    jan
2014.0    jan
         ...
2023.0    dec
2023.0    dec
2023.0    dec
2023.0    dec
2023.0    dec
Name: Month_Name, Length: 96845, dtype: object

In [ ]:
reviews.iloc[[8,11,12], [1,2]]

            Date           State
Year
2014.0  1/1/2014  Andhra Pradesh
2014.0  1/1/2014  Andhra Pradesh
2014.0  1/1/2014  Andhra Pradesh

In [ ]:
reviews.iloc[:3, 0]

Year
2014.0    jan
2014.0    jan
2014.0    jan
Name: Month_Name, dtype: object

In [ ]:
reviews.iloc[[0, 1, 2], 1]

Year
2014.0    1/1/2014
2014.0    1/1/2014
2014.0    1/1/2014
Name: Date, dtype: object

In [ ]:
reviews.iloc[5]

Month_Name                      jan
Date                       1/1/2014
State                Andhra Pradesh
Vehicle_Class              CASH VAN
Vehicle_Category             Others
Vehicle_Type                 Others
EV_Sales_Quantity               0.0
Name: 2014.0, dtype: object

In [ ]:
reviews.loc[:, ['Month_Name', 'Vehicle_Category', 'EV_Sales_Quantity']]

       Month_Name Vehicle_Category  EV_Sales_Quantity
Year
2014.0        jan           Others                0.0
2014.0        jan           Others                0.0
2014.0        jan           Others                0.0
2014.0        jan           Others                0.0
2014.0        jan              Bus                0.0
...           ...              ...                ...
2023.0        dec       4-Wheelers                1.0
2023.0        dec       2-Wheelers                5.0
2023.0        dec              Bus                0.0
2023.0        dec       3-Wheelers                0.0
2023.0        dec       3-Wheelers                0.0

[96845 rows x 3 columns]

# Summary Functions and Maps

In [ ]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96845 entries, 2014.0 to 2023.0
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Month_Name         96845 non-null  object
 1   Date               96845 non-null  object
 2   State              96845 non-null  object
 3   Vehicle_Class      96845 non-null  object
 4   Vehicle_Category   96845 non-null  object
 5   Vehicle_Type       96845 non-null  object
 6   EV_Sales_Quantity  96845 non-null  float64
dtypes: float64(1), object(6)
memory usage: 7.9+ MB

In [ ]:
reviews.describe()

       EV_Sales_Quantity
count       96845.000000
mean           37.108896
std           431.566675
min             0.000000
25%             0.000000
50%             0.000000
75%             0.000000
max         20584.000000

In [ ]:
reviews.Vehicle_Type.describe()

count      96845
unique        12
top       Others
freq       54423
Name: Vehicle_Type, dtype: object

In [ ]:
median_vl = reviews.EV_Sales_Quantity.median()

In [ ]:
print(reviews.Vehicle_Type.unique())
print(reviews.Vehicle_Type.unique().size)

['Others' 'Bus' 'Institution Bus' '2W_Personal' '4W_Shared' '4W_Personal'
 '3W_Shared' '3W_Personal' '3W_Goods' '2W_Shared' '3W_Shared_LowSpeed'
 '3W_Goods_LowSpeed']
12

In [ ]:
reviews.EV_Sales_Quantity.value_counts()

EV_Sales_Quantity
0.0        82783
1.0         2481
2.0         1138
3.0          775
4.0          549
           ...
3039.0         1
2353.0         1
955.0          1
10506.0        1
5380.0         1
Name: count, Length: 1447, dtype: int64

In [ ]:
#print(reviews.points.mean())
#print(reviews.points.std())
review_EV_Sales_Quantity_mean = reviews.EV_Sales_Quantity.mean()
print(review_EV_Sales_Quantity_mean)
# reviews.EV_Sales_Quantity = reviews.points - review_points_mean
print(reviews.EV_Sales_Quantity)
# format = lambda x: '%.2f' % x
# reviews['points'].map(format)

37.10889565801022
Year
2014.0    0.0
2014.0    0.0
2014.0    0.0
2014.0    0.0
2014.0    0.0
         ...
2023.0    1.0
2023.0    5.0
2023.0    0.0
2023.0    0.0
2023.0    0.0
Name: EV_Sales_Quantity, Length: 96845, dtype: float64

In [ ]:
reviews.EV_Sales_Quantity = reviews.EV_Sales_Quantity + " - " + reviews.Vehicle_Type
reviews.EV_Sales_Quantity

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('float64'), dtype('<U3')) -> None

# Grouping and Sorting

In [ ]:
reviews.groupby('EV_Sales_Quantity').EV_Sales_Quantity.count()

EV_Sales_Quantity
0.0        82783
1.0         2481
2.0         1138
3.0          775
4.0          549
           ...
18769.0        1
19486.0        1
19908.0        1
20352.0        1
20584.0        1
Name: EV_Sales_Quantity, Length: 1447, dtype: int64

In [ ]:
import pandas as pd
reviews.groupby('EV_Sales_Quantity')

In [ ]:
countries_reviewed = reviews.groupby(['EV_Sales_Quantity'])
countries_reviewed

In [ ]:
countries_reviewed

In [ ]:
reviews.sort_values(by='EV_Sales_Quantity')

,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type,EV_Sales_Quantity
Year,,,,,,,
2014.0,jan,1/1/2014,Andhra Pradesh,ADAPTED VEHICLE,Others,Others,0.0
2020.0,aug,8/1/2020,DNH and DD,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
2020.0,aug,8/1/2020,DNH and DD,PRIVATE SERVICE VEHICLE,Others,Others,0.0
2020.0,aug,8/1/2020,DNH and DD,MOTORISED CYCLE (CC > 25CC),2-Wheelers,2W_Personal,0.0
2020.0,aug,8/1/2020,DNH and DD,MOTOR CAR,4-Wheelers,4W_Personal,0.0
...,...,...,...,...,...,...,...
2023.0,jul,7/1/2023,Uttar Pradesh,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,18769.0
2023.0,sep,9/1/2023,Uttar Pradesh,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,19486.0
2023.0,may,5/1/2023,Maharashtra,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,19908.0
2023.0,dec,12/1/2023,Uttar Pradesh,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,20352.0
2023.0,aug,8/1/2023,Uttar Pradesh,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,20584.0

In [ ]:
reviews.sort_values(by='EV_Sales_Quantity')

,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type,EV_Sales_Quantity
Year,,,,,,,
2014.0,jan,1/1/2014,Andhra Pradesh,ADAPTED VEHICLE,Others,Others,0.0
2020.0,aug,8/1/2020,DNH and DD,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared,0.0
2020.0,aug,8/1/2020,DNH and DD,PRIVATE SERVICE VEHICLE,Others,Others,0.0
2020.0,aug,8/1/2020,DNH and DD,MOTORISED CYCLE (CC > 25CC),2-Wheelers,2W_Personal,0.0
2020.0,aug,8/1/2020,DNH and DD,MOTOR CAR,4-Wheelers,4W_Personal,0.0
...,...,...,...,...,...,...,...
2023.0,jul,7/1/2023,Uttar Pradesh,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,18769.0
2023.0,sep,9/1/2023,Uttar Pradesh,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,19486.0
2023.0,may,5/1/2023,Maharashtra,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,19908.0
2023.0,dec,12/1/2023,Uttar Pradesh,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,20352.0
2023.0,aug,8/1/2023,Uttar Pradesh,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,20584.0

In [ ]:
reviews.sort_values(by=['EV_Sales_Quantity', 'Vehicle_Type','Vehicle_Category'])

,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type,EV_Sales_Quantity
Year,,,,,,,
2014.0,jan,1/1/2014,Arunachal Pradesh,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,0.0
2014.0,jan,1/1/2014,Arunachal Pradesh,MOPED,2-Wheelers,2W_Personal,0.0
2014.0,jan,1/1/2014,Assam,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,0.0
2014.0,jan,1/1/2014,Assam,MOPED,2-Wheelers,2W_Personal,0.0
2014.0,jan,1/1/2014,Andaman & Nicobar Island,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,0.0
...,...,...,...,...,...,...,...
2023.0,jul,7/1/2023,Uttar Pradesh,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,18769.0
2023.0,sep,9/1/2023,Uttar Pradesh,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,19486.0
2023.0,may,5/1/2023,Maharashtra,M-CYCLE/SCOOTER,2-Wheelers,2W_Personal,19908.0
2023.0,dec,12/1/2023,Uttar Pradesh,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,20352.0
2023.0,aug,8/1/2023,Uttar Pradesh,E-RICKSHAW(P),3-Wheelers,3W_Shared_LowSpeed,20584.0

# Data Types and Missing Values

In [ ]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96845 entries, 2014.0 to 2023.0
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Month_Name         96845 non-null  object
 1   Date               96845 non-null  object
 2   State              96845 non-null  object
 3   Vehicle_Class      96845 non-null  object
 4   Vehicle_Category   96845 non-null  object
 5   Vehicle_Type       96845 non-null  object
 6   EV_Sales_Quantity  96845 non-null  float64
dtypes: float64(1), object(6)
memory usage: 7.9+ MB

In [ ]:
reviews.dtypes

Month_Name            object
Date                  object
State                 object
Vehicle_Class         object
Vehicle_Category      object
Vehicle_Type          object
EV_Sales_Quantity    float64
dtype: object

In [ ]:
reviews.Vehicle_Category = reviews.Vehicle_Category.astype('str')#Changed '' to 'str' to indicate string data type
#astype('str') converts to string type in pandas

print(reviews.Vehicle_Category)
reviews.Vehicle_Category.dtype

Year
2014.0        Others
2014.0        Others
2014.0        Others
2014.0        Others
2014.0           Bus
             ...
2023.0    4-Wheelers
2023.0    2-Wheelers
2023.0           Bus
2023.0    3-Wheelers
2023.0    3-Wheelers
Name: Vehicle_Category, Length: 96845, dtype: object

dtype('O')

In [ ]:
#reviews[pd.notnull(reviews.region_2)]
reviews.Vehicle_Type.isna().sum()

0

In [ ]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96845 entries, 2014.0 to 2023.0
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Month_Name         96845 non-null  object
 1   Date               96845 non-null  object
 2   State              96845 non-null  object
 3   Vehicle_Class      96845 non-null  object
 4   Vehicle_Category   96845 non-null  object
 5   Vehicle_Type       96845 non-null  object
 6   EV_Sales_Quantity  96845 non-null  float64
dtypes: float64(1), object(6)
memory usage: 7.9+ MB

In [ ]:
mode_Vehicle_Category = reviews.Vehicle_Category.mode()[0]  # [0] to get the first mode value
reviews.Vehicle_Category.fillna(reviews.Vehicle_Category.fillna(mode_Vehicle_Category, inplace=True)
,inplace=True)
reviews.info()

ValueError: Must specify a fill 'value' or 'method'.

In [ ]:
reviews.Vehicle_Type.fillna(("Unknown"),inplace=True)
reviews.Vehicle_Type

<ipython-input-78-f402e4eb70e6>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  reviews.Vehicle_Type.fillna(("Unknown"),inplace=True)

Year
2014.0         Others
2014.0         Others
2014.0         Others
2014.0         Others
2014.0            Bus
             ...
2023.0    4W_Personal
2023.0      2W_Shared
2023.0            Bus
2023.0       3W_Goods
2023.0      3W_Shared
Name: Vehicle_Type, Length: 96845, dtype: object

In [ ]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96845 entries, 2014.0 to 2023.0
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Month_Name         96845 non-null  object
 1   Date               96845 non-null  object
 2   State              96845 non-null  object
 3   Vehicle_Class      96845 non-null  object
 4   Vehicle_Category   96845 non-null  object
 5   Vehicle_Type       96845 non-null  object
 6   EV_Sales_Quantity  96845 non-null  float64
dtypes: float64(1), object(6)
memory usage: 7.9+ MB

In [ ]:
reviews.drop('EV_Sales_Quantity',axis='columns',inplace=True)
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96845 entries, 2014.0 to 2023.0
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Month_Name        96845 non-null  object
 1   Date              96845 non-null  object
 2   State             96845 non-null  object
 3   Vehicle_Class     96845 non-null  object
 4   Vehicle_Category  96845 non-null  object
 5   Vehicle_Type      96845 non-null  object
dtypes: object(6)
memory usage: 7.2+ MB

In [ ]:
# Assuming you want to use pandas' dropna() function to drop rows with missing values
import pandas as pd

# Replace 'reviews' with your DataFrame's actual name
reviews.dropna(inplace=True)

# Renaming and Combining

In [ ]:
reviews.rename(columns={'EV_Sales_Quantity': 'Vehicle_Type'},inplace=True)
reviews.head()

,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type
Year,,,,,,
2014.0,jan,1/1/2014,Andhra Pradesh,ADAPTED VEHICLE,Others,Others
2014.0,jan,1/1/2014,Andhra Pradesh,AGRICULTURAL TRACTOR,Others,Others
2014.0,jan,1/1/2014,Andhra Pradesh,AMBULANCE,Others,Others
2014.0,jan,1/1/2014,Andhra Pradesh,ARTICULATED VEHICLE,Others,Others
2014.0,jan,1/1/2014,Andhra Pradesh,BUS,Bus,Bus

In [ ]:
reviews.rename(index={0: 'firstEntry', 1: 'secondEntry'})

,Month_Name,Date,State,Vehicle_Class,Vehicle_Category,Vehicle_Type
Year,,,,,,
2014.0,jan,1/1/2014,Andhra Pradesh,ADAPTED VEHICLE,Others,Others
2014.0,jan,1/1/2014,Andhra Pradesh,AGRICULTURAL TRACTOR,Others,Others
2014.0,jan,1/1/2014,Andhra Pradesh,AMBULANCE,Others,Others
2014.0,jan,1/1/2014,Andhra Pradesh,ARTICULATED VEHICLE,Others,Others
2014.0,jan,1/1/2014,Andhra Pradesh,BUS,Bus,Bus
...,...,...,...,...,...,...
2023.0,dec,12/1/2023,Andaman & Nicobar Island,MOTOR CAR,4-Wheelers,4W_Personal
2023.0,dec,12/1/2023,Andaman & Nicobar Island,MOTOR CYCLE/SCOOTER-USED FOR HIRE,2-Wheelers,2W_Shared
2023.0,dec,12/1/2023,Andaman & Nicobar Island,OMNI BUS,Bus,Bus
2023.0,dec,12/1/2023,Andaman & Nicobar Island,THREE WHEELER (GOODS),3-Wheelers,3W_Goods
2023.0,dec,12/1/2023,Andaman & Nicobar Island,THREE WHEELER (PASSENGER),3-Wheelers,3W_Shared

In [ ]:
reviews.to_csv('EV_Dataset.csv',index=False)